{#templates/registration/register.html.twig#}
{% extends 'base.html.twig' %}

{# Wir überschreiben das Template, welches form_errors rendert, damit diese nicht als Liste ausgegeben werden #}
{% form_theme registrationForm 'customError/errors.html.twig' %}

{% block title %}Register{% endblock %}
{% block body %}
{# https://symfony.com/doc/current/form/form_customization.html#reference-forms-twig-label #}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="container">
            <section class="pb-4">
                <div class="container">
                    <section class="w-100 p-4 d-flex justify-content-center pb-4">
                        <div style="width: 26rem;">
                            <div class="tab-content">
                                <div class="tab-pane show active">
                                    <div class="alert alert-warning mb-4">
                                        <span>Du bist bereits eingeloggt!</span>
                                    </div>
                                    <a class="btn btn-secondary btn-block mb-4" href="/">Zurück zum Startseite</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    {% else %}
        <section class="pb-4">
            <div class="container">
                <section class="w-100 p-4 d-flex justify-content-center pb-4">
                    <div style="width: 26rem;">
                        {# Auswahl zwischen Login und Register#}
                        <ul class="nav nav-pills nav-justified mb-3">
                            <li class="nav-item">
                                <form action="/login">
                                    <button class="nav-link btn btn-block {% if darkMode is defined %}{% if darkMode == true %}btn-dark{% else %}btn-light{% endif %}{% else %}btn-light{% endif %}" id="pill-login-button" type="submit" value="geh zu /login">Login</button>
                                </form>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link btn btn-block active"
                                        id="pill-register-button">Registrieren</button>
                            </li>
                        </ul>

                        <div class="tab-content">
                            {# Sign-in falls die Seite nicht schnell genug lädt #}
                            <div class="tab-pane fade" id="pills-login-content">
                                <form>
                                    {# Email/Username input #}
                                    <div class="form-outline mb-4">
                                        <input type="text" id="loginName" class="form-control" placeholder="Username" name="_username">
                                        <label class="form-label" for="loginName">Username</label>
                                    </div>

                                    {# Passwort Input #}
                                    <div class="form-outline">
                                        <input type="password" id="loginPassword" class="form-control" placeholder="Dein Passwort" name="_password">
                                        <label class="form-label" for="loginPassword">Passwort</label>
                                    </div>

                                    {# Passwort vergessen Link#}
                                    {# <a href="#"><p class="text-center">Passwort vergessen?</p></a> #}


                                    <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
                                </form>
                            </div>
                            {# Kontent von Register#}
                            <div class="tab-pane show active" id="pills-register-content">
                                {{ form_start(registrationForm) }}

                                {# Errors #}
                                {% if not registrationForm.vars.valid %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form_errors(registrationForm.username) }}
                                        {{ form_errors(registrationForm.email) }}
                                        {{ form_errors(registrationForm.plainPassword.first) }}
                                        {{ form_errors(registrationForm.agreeTerms) }}
                                        {{ form_errors(registrationForm.captcha) }}
                                    </div>
                                {% endif %}

                                {% for flashError in app.flashes('verify_email_error') %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ flashError }}
                                    </div>
                                {% endfor %}

                                {# Username Input #}
                                <div class="form-outline mb-4">
                                    <!--
                                    <input type="text" id="registerUsername" class="form-control" placeholder="Username">
                                    <label class="form-label" for="registerUsername">Username</label>
                                    -->
                                    {{ form_widget(registrationForm.username, {
                                        attr: {'class': 'form-control', 'placeholder': 'Username'}
                                    }) }}
                                    {{ form_label(registrationForm.username, 'Username', {label_attr: {'class': 'form-label'}}) }}
                                </div>

                                {# Email Input #}
                                <div class="form-outline mb-4">
                                    <!--
                                    <input type="email" id="registerEmail" class="form-control" placeholder="DeineMail@gmail.com">
                                    <label class="form-label" for="registerEmail">Email</label>
                                    -->
                                    {{ form_widget(registrationForm.email, {
                                        attr: {'class': 'form-control', 'placeholder': 'Deine E-Mail'}
                                    }) }}
                                    {{ form_label(registrationForm.email, 'E-Mail', {label_attr: {'class': 'form-label'}}) }}

                                </div>

                                {# Passwort input #}
                                <div class="form-outline mb-4">
                                    <!--
                                    <input type="password" id="registerPassword" class="form-control" placeholder="Sicheres Passwort">
                                    <label class="form-label" for="registerPassword">Passwort</label>
                                    -->
                                    {{ form_widget(registrationForm.plainPassword.first, {
                                        attr: {'class': 'form-control', 'placeholder': 'Sicheres Passwort'}
                                    }) }}
                                    {{ form_label(registrationForm.plainPassword.first, 'Passwort', {label_attr: {'class': 'form-label'}}) }}
                                </div>

                                {# Passwort wiederholen #}
                                <div class="form-outline mb-4">
                                    <!--
                                    <input type="password" id="registerPassword" class="form-control" placeholder="Sicheres Passwort">
                                    <label class="form-label" for="registerPassword">Passwort</label>
                                    -->
                                    {{ form_widget(registrationForm.plainPassword.second, {
                                        attr: {'class': 'form-control', 'placeholder': 'Sicheres Passwort'}
                                    }) }}
                                    {{ form_label(registrationForm.plainPassword.second, 'Passwort wiederholen', {label_attr: {'class': 'form-label'}}) }}
                                </div>


                                <div class="form-outline mb-4 text-center">
                                    {{ form_widget(registrationForm.captcha, {attr: {'class': 'form-control'}}) }}
                                    {{ form_label(registrationForm.captcha, 'Ich bin kein Roboter', {label_attr: {'class': 'form-label', 'hidden': ''}})  }}
                                </div>

                                    {# Nutzungsbedingungen, die nicht existieren #}
                                <div class="form-outline mb-4 text-center">
                                    <!--
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">Ich stimme den Nutzungsbedingungen zu</label>
                                    -->

                                    {{ form_widget(registrationForm.agreeTerms, {
                                        attr: {'class': 'form-check-input'}
                                    }) }}
                                    {{ form_label(registrationForm.agreeTerms, 'Ich stimme den Nutzungsbedingungen zu.', {label_attr: {'class': 'form-check-label'}}) }}
                                </div>

                                {# Submit #}
                                <button type="submit" class="btn btn-primary btn-block mb-3">Registrieren</button>
                                {{ form_end(registrationForm) }}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    {% endif %}
{% endblock %}