{# templates/wikiPages/createEintrag.html.twig #}
{% extends 'base.html.twig' %}

{# Wir 체berschreiben das Template, welches form_errors rendert, damit diese nicht als Liste ausgegeben werden #}
{% form_theme CreateEintragForm 'customError/errors.html.twig' %}

{% block title %}
    Neuer Eintrag
{% endblock %}

{% block body %}


    <div class="container mt-3">
        <div class="row">
            {# Startpage, Bild und Name #}
            <div class="col-9" id="wikiMainContent">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            {% if wiki.imageName != null %}
                                <img class="wikiPB" src="{{ vich_uploader_asset(wiki) }}" alt="{{ wiki.id }}">
                            {% else %}
                                <img class="filter-logo wikiPB" src="{{ asset('assets/No-File.svg') }}" alt="{{ wiki.id }}">
                            {% endif %}
                        </div>
                        <div class="col-8">
                            <h1 class="mb-2">{% block EditTitle%}{{ wiki.wikiname }}{% endblock %}</h1>
                            <hr>
                            {% block tags %}
                                {% for foundTags in wiki.WikiTags %}
                                    <div class="form-check form-check-inline col-2 p-0 m-0 mb-1">
                                        <span class="tag_text btn btn-sm btn-info w-100 noOverflow">{{ foundTags.tagID.tagName }}</span>
                                    </div>
                                {% endfor %}
                            {% endblock %}
                            {# Wiki Votes (falls aktiviert) #}
                            <div class="row mt-2">
                                <div class="col-9">
                                    {% if wiki.isAllowVotes %}
                                        {% block postVotes %}
                                            <h4 class="m-0 p-1">
                                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                    {% if userVoted %}
                                                        <i class="bi bi-arrow-up-square-fill voteColor normalDisable"></i>
                                                    {% else %}
                                                        <i class="bi bi-arrow-up-square voteColor normalDisable"></i>
                                                    {% endif %}
                                                {% else %}
                                                    <i class="bi bi-arrow-up-square voteColor normalDisable"></i>
                                                {% endif %}
                                                <span class="ml-1">{{ wiki.getWikivotes|length }}</span>
                                            </h4>
                                        {% endblock %}
                                    {% endif %}
                                    {% block ersteller %}
                                        <span class="text-secondary ts-small">Erstellt von: {{ wiki.getUserID.getUserIdentifier }}</span>
                                    {% endblock %}
                                </div>
                                <div class="col-3">
                                    {% block favIgnore %}
                                        {# Favorite / Ignore #}
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                            <h3 class="m-0">
                                                {# Favorite Wiki #}
                                                {% if isFavoriteWiki %}
                                                    <a href="" data-bs-toggle="tooltip" title="Entferne das Wiki aus deinen Favoriten" class="border btn borderDarkMode disabled"><i class="font-20 bi bi-heart-fill heartColor"></i></a>
                                                {% else %}
                                                    <a href="" data-bs-toggle="tooltip" title="F체ge das Wiki deinen Favoriten hinzu" class="border btn borderDarkMode disabled"><i class="font-20 bi bi-heart heartColor"></i></a>
                                                {% endif %}


                                                {# Ignore Wiki #}
                                                {% if isIgnoredWiki %}
                                                    <a href="" class="border btn borderDarkMode disabled" data-bs-toggle="tooltip" title="Das Wiki nicht l채nger verstecken"><i class="font-20 bi bi-eye-slash textColor"></i></a>
                                                {% else %}
                                                    <a href="" class="border btn borderDarkMode disabled" data-bs-toggle="tooltip" title="Das Wiki verstecken"><i class="font-20 bi bi-eye textColor"></i></a>
                                                {% endif %}
                                            </h3>
                                        {% endif %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_start(CreateEintragForm) }}

    <div class="container mt-3 border rounded borderDarkMode">
        {# Errors #}
        {% if not CreateEintragForm.vars.valid %}
            <div class="alert alert-danger mt-3" role="alert">
                {{ form_errors(CreateEintragForm.title) }}
                {{ form_errors(CreateEintragForm.inhalt_md) }}
            </div>
        {% endif %}
        <div class="row my-3">
            <div class="col-sm-3 col-lg-5">
                {{ form_label(CreateEintragForm.title, 'Titel', {label_attr: {'class': 'form-label'}}) }}

                {{ form_widget(CreateEintragForm.title, {
                    attr: {'class': 'form-control', 'placeholder': '...'}
                }) }}
            </div>
        </div>
    </div>

    <div class="container-fluid border rounded mt-3 borderDarkMode">
        <div class="row mt-3">
            <div class="col-6">
                <div class="form-group">
                    {{ form_label(CreateEintragForm.inhalt_md, 'Eintrag', {label_attr: {'class': 'form-label', 'data-bs-toggle':'tooltip', 'title': 'Hier kannst du die Startseite deines Wikis schreiben.'}}) }}

                    {{ form_widget(CreateEintragForm.inhalt_md, {
                        attr: {'class': 'form-control textArea textColor', 'rows': '25'}
                    }) }}
                </div>
            </div>
            <div class="col-6">
                <label class="form-label">Preview</label>
                <div id="preview" class="fakeTextarea border rounded textArea w-100"></div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-2"></div>
            <div class="col-4">
                {% block submitBtn %}
                    <button type="submit" class="btn btn-primary btn-block">Eintrag erstellen</button>
                {% endblock %}
            </div>
            <div class="col-4">
                <a class="btn btn-danger btn-block" href="/wiki/{{ wiki.id }}">Abbrechen</a>
            </div>

        </div>
    </div>

    {{ form_end(CreateEintragForm) }}

{% endblock %}

{% block scripts %}
    <script>
        // Falls Enter gedr체ckt wird, wird so das Form nicht abgeschickt
        $(document).on("keydown", ":input:not(textarea)", function(event) {
            return event.key !== "Enter";
        });

        $(document).ready(function() {

            let inputField = document.getElementById('create_eintrag_form_inhalt_md');
            document.getElementById("preview").style.height = inputField.offsetHeight.toString() + "px";
            $("#create_eintrag_form_inhalt_md").on("input", function () {

                $("#preview").html(DOMPurify.sanitize(marked.parse($("#create_eintrag_form_inhalt_md").val()), { USE_PROFILES: {html: true} }));

                //Set height of the preview to the same as the input field
                document.getElementById("preview").style.height = inputField.offsetHeight.toString() + "px";
            });
        })
    </script>
{% endblock %}