{# templates/wikiPages/wikiPage.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
{{ wiki.wikiname }}
{% endblock %}

{% block body %}

    <div class="container mt-3">
        <div class="row">
            {# Startpage, Bild und Name #}
            <div class="col-9" id="wikiMainContent">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            {% if wiki.imageName != null %}
                                <img class="wikiPB" src="{{ vich_uploader_asset(wiki) }}" alt="{{ wiki.id }}">
                            {% else %}
                                <img class="filter-logo wikiPB" src="{{ asset('assets/No-File.svg') }}" alt="{{ wiki.id }}">
                            {% endif %}
                        </div>
                        <div class="col-8">
                            <h1 class="mb-2">{{ wiki.wikiname }}</h1>
                            {% for foundTags in wiki.WikiTags %}
                                <div class="form-check form-check-inline col-2 p-0 m-0 mb-1">
                                    <span class="tag_text btn btn-sm btn-info w-100 noOverflow">{{ foundTags.tagID.tagName }}</span>
                                </div>
                            {% endfor %}
                            {# Wiki Votes (falls aktiviert) #}
                            <div class="row mt-2">
                                <div class="col-9">
                                    {% if wiki.isAllowVotes %}
                                        <h4 class="m-0 p-1">
                                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                {% if userVoted %}
                                                    <a href="{{ path('removeVote',{'id':wiki.id,'origin':app.request.attributes.get('_route')})}}"><i class="bi bi-arrow-up-square-fill voteColor"></i></a>
                                                {% else %}
                                                    <a href="{{ path('addVote',{'id':wiki.id,'origin':app.request.attributes.get('_route')})}}"><i class="bi bi-arrow-up-square voteColor"></i></a>
                                                {% endif %}
                                            {% else %}
                                                <a href="{{ path('addVote',{'id':wiki.id,'origin':app.request.attributes.get('_route')})}}"><i class="bi bi-arrow-up-square voteColor"></i></a>
                                            {% endif %}
                                            <span class="ml-1">{{ wikiVotes }}</span>
                                        </h4>
                                    {% endif %}
                                </div>
                                <div class="col-3">
                                    {# Favorite / Ignore #}
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <h3 class="m-0">
                                            {# Favorite Wiki #}
                                            {% if isFavoriteWiki %}
                                                <a href="{{ path('removeFavorite',{'id':wiki.id,'origin':app.request.attributes.get('_route')})}}" data-bs-toggle="tooltip" title="Entferne das Wiki aus deinen Favoriten" class="border rounded p-1 borderDarkMode"><i class="bi bi-heart-fill heartColor"></i></a>
                                            {% else %}
                                                <a href="{{ path('addFavorite',{'id':wiki.id,'origin':app.request.attributes.get('_route')})}}" data-bs-toggle="tooltip" title="Füge das Wiki deinen Favoriten hinzu" class="border rounded p-1 borderDarkMode"><i class="bi bi-heart heartColor"></i></a>
                                            {% endif %}


                                            {# Ignore Wiki #}
                                            {% if isIgnoredWiki %}
                                                <a href="{{ path('removeIgnore',{'id':wiki.id,'origin':app.request.attributes.get('_route')})}}" class="ml-2 border rounded p-1 borderDarkMode" data-bs-toggle="tooltip" title="Das Wiki nicht länger verstecken"><i class="bi bi-eye-slash textColor"></i></a>
                                            {% else %}
                                                <a href="{{ path('addIgnore',{'id':wiki.id,'origin':app.request.attributes.get('_route')})}}" class="ml-2 border rounded p-1 borderDarkMode" data-bs-toggle="tooltip" title="Das Wiki verstecken"><i class="bi bi-eye textColor"></i></a>
                                            {% endif %}
                                        </h3>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="preview" class="fakeTextarea border rounded textArea h-100 w-100 mt-3"
                         {% if not wiki.getStartseiteMd|length > 0 %}hidden{% endif %}
                    >

                    </div>
                </div>
            </div>
            {# Sidepanel #}
            <div class="col-3" id="wikiSideContent">
                <div class="container border rounded borderDarkMode py-3">
                    {% if isPlatformAdmin %}
                        <div class="m-0">
                            <span class="tag_text btn platformAdminColor w-100 noOverflow">Platform Admin</span>
                        </div>
                    {% endif %}

                    {% if userPermissions[0] %}
                        <div class="m-0 mt-1">
                            <span class="tag_text btn platformAdminColor w-100 noOverflow">Owner</span>
                        </div>
                    {% elseif userPermissions[1] %}
                        <div class="m-0 mt-1">
                            <span class="tag_text btn btn-info w-100 noOverflow">Admin</span>
                        </div>
                    {% elseif userPermissions[2] %}
                        <div class="m-0 mt-1">
                            <span class="tag_text btn btn-warning w-100 noOverflow">Collaborator</span>
                        </div>
                    {% else %}
                        <div class="m-0 mt-1">
                            <span class="tag_text btn btn-success w-100 noOverflow">Besucher</span>
                        </div>
                    {% endif %}
                    {% if userPermissions[1] or isPlatformAdmin %}
                        <hr>
                        <div class="m-0">
                            <a class="tag_text btn btn-secondary w-100 noOverflow" href="/settings/{{ wiki.id }}">Wiki Einstellungen</a>
                        </div>
                    {% endif %}
                    <hr>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if not app.user.isUserBanned %}
                            {% if wiki.isLoggedinCreatePosts %}
                                <div class="m-0 mt-1">
                                    <a class="tag_text btn btn-primary w-100 noOverflow" href="/createPost/{{ wiki.id }}">Eintrag erstellen</a>
                                </div>
                                {# Falls nur Collaboratore Beiträge erstellen können#}
                            {% elseif userPermissions[2]%}
                                <div class="m-0 mt-1">
                                    <a class="tag_text btn btn-primary w-100 noOverflow" href="/createPost/{{ wiki.id }}">Eintrag erstellen</a>
                                </div>
                            {% endif %}
                            {% if wiki.isCanUserRequestToJoin %}
                                {% if not userPermissions[2]%}
                                    <div class="m-0 mt-1"> {# request/{{ wiki.id }} #}
                                        <a class="tag_text btn btn-warning w-100 noOverflow" href="/request/{{ wiki.id }}">Collaborator Status anfragen</a>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <hr>
                        {% endif %}
                    {% endif %}
                    <button type="button" class="btn btn-secondary w-100" onclick="hideSidepanel()">
                        <i class="bi bi-arrow-right"></i>
                    </button>
                </div>
            </div>

            <div class="col-1" id="sidePanelButton" hidden>
                <button type="button" class="btn btn-secondary" onclick="showSidepanel()">
                    <i class="bi bi-arrow-left"></i>
                </button>
            </div>

        </div>
    </div>

    <div hidden id="db_markdown">{{ wiki.getStartseiteMd }}</div>

{% endblock %}

{% block scripts %}

    <script>
        {#  data-bs-toggle="tooltip" title="Verstecke das Sidepanel" #}
        // Aktiviere Tooltips
        let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        $(document).ready(function() {
            let text = $('#db_markdown').html();
            // Die Ausgabe der Datenbank encoden
            text = text.replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/"/g, '&quot;').replace(/&gt;/g, '>');
            let dirtyText = marked.parse(text); //parsed md zu html
            let cleanText = DOMPurify.sanitize(dirtyText, { USE_PROFILES: {html: true} }); //Überprüft den Code und entfernt alle Text die nicht in standard html sind <script> etc
            $("#preview").html(cleanText);

            let tags = document.getElementsByClassName('tag_text');
            Array.from(tags).forEach(tag => {
                tag.innerHTML = tag.innerHTML.replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/"/g, '&quot;').replace(/&gt;/g, '>');
            })
        });

        function hideSidepanel(){
            $('#sidePanelButton').removeAttr('hidden',"");
            $('#wikiSideContent').attr('hidden',"");

            $('#wikiMainContent').removeClass('col-9');
            $('#wikiMainContent').addClass('col-11');

        }

        function showSidepanel(){
            $('#sidePanelButton').attr('hidden',"");
            $('#wikiSideContent').removeAttr('hidden',"");

            $('#wikiMainContent').removeClass('col-11');
            $('#wikiMainContent').addClass('col-9');
        }

    </script>

{% endblock %}
